.container{
  width:50%;


}
.jumbotron h2{
  font-size: 40px;
    background-color:purple;
color:white;

}
#count{
  padding-top: 10px;;
}
.jumbotron{

}
.navbar{
  background-color:purple;

}
li{
  color:white;
}
